<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Editar Usuario</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ tipo_usuario_form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>
