<h1>Detalles de Perfil</h1>

<p><b>Nombre de usuario:</b> {{ usuario.username }}</p>
<p><b>Nombre:</b> {{ usuario.first_name }} {{ usuario.last_name }}</p>
<p><b>Correo electrónico:</b> {{ usuario.email }}</p>
<p><b>Tipo de usuario:</b> {{ tipo_usuario }}</p>


<a href="{% url 'editar_usuario' %}">Editar</a>
<a href="{% url 'eliminar_usuario' %}">Eliminar</a>
<a href="{% url 'cliente_home' %}">Regresar</a>