<!DOCTYPE html>
<html>
<head>
    <title>Compra Exitosa</title>
</head>
<body>
    <h1>¡Compra Realizada con Éxito!</h1>
    <p>Tu compra ha sido procesada exitosamente.</p>
    <a href="{% url 'cliente_home' %}">Volver a la Tienda</a>
</body>
</html>
