<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Producto</title>
</head>
<body>
    <h1>¿Estás seguro de que quieres eliminar {{ producto.nombre }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'ver_carrito' %}">Cancelar</a>
</body>
</html>
