<!DOCTYPE html>
<html>
<head>
    <title>Mi Carrito</title>
</head>
<body>
    <h1>Mi Carrito</h1>
    <ul>
        {% for item in items_carrito %}
        <li>
            {{ item.producto.nombre }} - Cantidad: {{ item.cantidad }} - Precio: {{ item.producto.precio }}
            <form action="{% url 'eliminar_producto_carrito' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
                <button><a href="{% url 'incrementar_cantidad_producto_carrito' item.id %}">mas</a></button>
                <button><a href="{% url 'decrementar_cantidad_producto_carrito' item.id %}">menos</a></button>     
            </form>
                   
        </li>
        {% endfor %}
    </ul>
    <p>Total: {{ total }}</p>
    <a href="{% url 'cliente_home'%}">Regresar</a>
    <a href="{% url 'realizar_compra' %}">Completar Compra</a>
</body>
</html>
