<!DOCTYPE html>
<html>
<head>
    <title>Homepage del Cliente</title>
</head>
<body>
    <h1>Bienvenido Cliente</h1>
    <a href="{% url 'logout' %}">Cerrar Sesión</a>
    <a href="{% url 'ver_carrito' %}">Carrito</a>
    <a href="{% url 'compras_cliente' %}">Compras</a>
    <a href="{% url 'consultar_usuario' %}">Perfil</a>
    <h1>Productos Disponibles</h1>
    <ul>
        {% for producto in productos %}
            <li>
                {%if producto.stock > 0%}
                    {{ producto.nombre }}
                    <a href="{% url 'agregar_carrito' producto.id %}">Agregar al Carrito</a>
                {%else%}
                    {{ producto.nombre }}  
                    Producto Agotado
                {%endif%}
                Precio: {{ producto.precio }}
                Descripcion:{{ producto.descripcion }}
                {%if producto.imagen.url%}
                    <td>
                        <img src="{{producto.imagen.url}}" width="100" height="100"></img>
                    </td> 
                {%else%}
                    <td> Imagen no disponible </td>
                {%endif%}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
