<!DOCTYPE html>
<html>
<head>
    <title>Homepage del Vendedor</title>
</head>
<body>
    <h1>Bienvenido Vendedor</h1>
    <!-- Contenido específico para vendedores -->
    <a href="{% url 'logout' %}">Cerrar Sesión</a>
    <a href="{% url 'listar_productos' %}">Productos</a> 
    <a href="{% url 'ventas_vendedor' %}">Ventas</a> 
</body>
</html>
