<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Mis Productos</h1>
    <a href="{% url 'agregar_producto' %}">Agregar Producto</a> 
    <ul>
        {% for producto in productos %}
        <li>
            {{ producto.nombre }} 
            {{ producto.precio }}
            {{ producto.descripcion }}
            {{ producto.stock }}
            {%if producto.imagen.url%}
                <td>
                    <img src="{{producto.imagen.url}}" width="100" height="100"></img>
                </td> 
            {%else%}
                <td> Imagen no disponible </td>
            {%endif%}
            <a href="{% url 'editar_producto' producto.id %}">Editar</a> - 
            <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'vendedor_home'%}">Regresar</a>
</body>
</html>
